body {
  font-size: 1.25em;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  color: rgb(95, 88, 79);
}

blockquote {
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 400;
}

a {
  color: rgb(161, 191, 151);
  text-decoration: none;
}

a:hover, a:visited {
  color: rgb(174, 78, 52);
}

strong {
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: 700
}

.site-header .logo {
  display: block;
  margin: 0 auto;
  height: 4em;
}

.site-header .site-title {
  text-align: center;
  margin: .5em 0 .25em;
  line-height: 1.2em;
}

.site-header .site-description {
  text-align: center;
  margin: .25em 0 1em;
}

.site-header {
  margin-top: 2.5em;
}

.site-footer {
  font-size: .8em;
  text-align: center;
}

.entry-title {
  margin-top: 1em;
  margin-bottom: 0em;
  font-weight: 300;
}

.entry-meta {
  margin-top: .25em;
  font-size: .8em;
}

.entry-content {
  margin: 2.5em auto;
  width: 90%;
  max-width: 40em;
}
